/* MEDIA QUERYS */

@media (min-width: 768px) {
    .d-flex-query {
        display: flex;           
    }


    .col-3 {
        width: 25%;        
    }

    .col-9 {
        width: 75%;        
    }  

    .text-responsive1 {
        font-size: 5rem;
    }

    .text-responsive2 {
        font-size: 2rem;
    }
    

}


/* GRID CSS COLUMNS*/

.col-12 {
    width: 100%;
    display:flex;  
    justify-content: center;
    box-sizing: border-box;
}



