* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;         
    box-sizing: border-box;
    line-height: 1.8rem;
}

/* HTML5 */
a {
    text-decoration: none;
    display: inline-block;        
}


ul {
    margin-bottom: 1.3rem;
}

li {
    list-style: none;
    padding: 1rem;
}




/* COMPONENTS CLASSES */
.bg-img {
    background-image: url(./photo-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    min-height: 90vh;
    position: relative;    
    justify-content: center;
}

.border-list {
    border-top: 0.11rem rgba(55, 54, 54, 0.2) solid;
    border-bottom: 0.11rem rgba(55, 54, 54, 0.2) solid;
}

.botton {
    padding: 0.9rem 1rem;
    border-radius: 2rem;    
    color: whitesmoke;
    flex-wrap: wrap;
    text-decoration: none; 
    margin-bottom: 2rem;    
    text-align: center;
    background: #20c997;
    transition: all 0.4s;
    width: 10rem;
    
}

.botton:hover {
    padding: 0.9rem 1rem;
    border-radius: 2rem;    
    color: whitesmoke;
    flex-wrap: wrap;
    text-decoration: none; 
    margin-bottom: 2rem;    
    text-align: center;
    background: #118d68;
    transition: all 0.4s;
    width: 10rem;
}


.botton-empty {    
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    border: 0.15rem #20c997 solid;
    color: #20c997;
    flex-wrap: wrap;
    text-decoration: none; 
    margin-bottom: 2rem;
    width: 10rem;
    text-align: center;    
    transition: all 0.4s;
    margin-top: 4rem;
}

.botton-empty:hover {    
    padding: 0.8rem 1rem;
    border-radius: 2rem;    
    color: white;
    background: #20c997;
    flex-wrap: wrap;
    text-decoration: none;     
    width: 10rem;
    text-align: center;
    transition: all 0.4s;
}

.card {
    margin: 2rem 0;
    flex-wrap: wrap;
    width: 100%;
}

.card-info {
    margin-right: 4rem;
}

.description {
    margin: 1rem 0;    
}

.description-title {
    margin-top: 1rem;    
}



.icon-card {
    width: 4rem;    
}

.icon-navbar {
    width: 2rem; 
    margin: 0 1rem;
    opacity: 0.8;
    
}

.icon-navbar:hover {
    width: 2rem; 
    margin: 0 1rem;
    opacity: 0.8;
    border-radius: 50%;
    transition: all 0.4s;
}


.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;
    color: rgb(255, 253, 253);
  
}

.logo-container {
    margin: 1rem;
}

.logo-card-container {
    margin-right: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    width: 100%;
    height: 90vh;
    
}

.main>h2{   
    margin-bottom: 5rem;  
}



.main-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

/* TYPED TEXT STYLES */
.main .typed-text {
    font-weight: bold;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    
}

.navbar-container {
    background: #1c2025;   
    
}



/* ============= UTILITIES ================== */
.align-center {
    align-items: center;
}

.d-flex {
    display: flex;    
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-flex-column {
   
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}


.h-35 {
    height: 28vh;
}

.h-100 {
    min-height: 100vh;
}

.m-2 {
    margin: 0 5rem;
}

.mt-1 {
    margin-top: 1.2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}


.w-100 {
    min-width: 100vh;    
    box-sizing: border-box;
}

/* ============= LAYOUTS ================== */
.bg-red {
    background: red;
}

.bg-green {
    background: lightseagreen;
}

.bg-lgrey {
    background: rgb(231, 229, 229);
}

.text-1 {
    font-size: 5rem;    
    opacity: 0.08;
}

.text-2 {
    font-size: 2rem;
    color: rgb(16, 15, 15, 0.95);
    font-weight: 600;
    
}

.text-3 {
    font-size: 1.7rem;
    color: rgb(16, 15, 15, 0.95);
    
}

.text-title {
    color: rgb(243, 239, 239);
    float: left;
    font-size: 3rem;
    margin-top: 6rem;
}

.text-center {
    text-align: center;
    
}

.p-absolut {
    position: absolute;
}

.text-responsive1 {
    font-size: 3.5rem;
    opacity: 0.2;
}

.text-responsive2 {
    font-size: 1.5rem;    
}



